@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 2rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

input {
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

// general styling
.container {
  width: 1200px;
  max-width: 98%;
  margin: 0 auto;
}

// typography
.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
}

.text {
  font-size: 16px;
  &.center {
    text-align: center;
  }
}

.form-wrapper {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  input,
  button,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  textarea {
    min-height: 300px;
    text-indent: 20px;
    padding-top: 1rem;
    font-size: 16px;
  }

  button {
    padding: 1rem 0rem;
    background-color: #00d395;
  }
}
